.angular-google-map-container {
    width:400px;
    height:600px;
}

.deal-contact-info {
	margin: 0 auto;
	display: inline-block;
	text-align: left;
}

.deal-contact-info label { 
	width: 100px;
	display: inline-block;
}

.topcoat-search-input {
	margin: 7px;
	width: 99%;
}